.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #000;
  width: 1000px;
}

.navbar-controls {
  display: flex;
  align-items: center;
}

.period-selector select {
  padding: 10px 20px;
  border: none;
  outline: none; /* Menghapus garis outline */
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}


.chart-controls {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.chart-controls button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chart-controls button:hover {
  background-color: #0056b3;
}

.data-group-label {
  color: white;
  margin-right: 20px;
}

.chart-scroll-container {
  display: flex;
  flex-direction: column; /* Mengatur elemen-elemen dalam kolom */
  max-width: 100%;
}

.chart-column {
  flex-shrink: 0;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 1000px; /* Anda dapat mengganti lebar ini jika diperlukan */
  max-width: 100%;
}

canvas {
  max-width: 100%;
  height: auto;
}

.white-text {
  color: white;
}

.custom-select {
  text-transform: uppercase;
  appearance: none;
  border: none;
  padding: 8px 10px;
  border-radius: 0 !important; /* Menghapus sudut bulat */
  background: white;
  box-shadow: none !important; /* Menghapus bayangan */
  width: 100%; /* Lebar elemen dropdown */
  outline: none; /* Menghapus garis outline */
  cursor: pointer;
}
